* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header {
    background:lightyellow;
    display: flex;
    height:100px;
    width: 100%;
    justify-content: flex-end;
}

header h1 {
    background:limegreen;
    width: 85%;
}

header ul {
    background: magenta;
    display: flex;
    height: 100%;
    
}

header a {
    
    padding: 40px 10px;
    text-decoration: none;
    width: 33.33%;
}

header a:hover {
    background:maroon;
}

img {
    width: 20vw;
    min-width: 150px;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

article {
    background:lightslategray;
    display: flex;
    flex: 4;
    flex-wrap: wrap;
    align-content: center;
    
}

article h2 {
background: rebeccapurple;
flex-grow: 1;
}

article img {
    float: left;
}


article p {
    background: yellow;
   flex: 1;
}

article section {
    align-self:flex-start;
}

/* #img-main {
    background: hotpink;
    flex: 1;
    
} */


aside {
    background:lightsalmon;
  flex: 1;
}

footer {
    background:mediumspringgreen;
    height: 75px;
}